body {
    margin: 0;
}

.about-us-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 100px; */
    gap: 6rem;
    padding-bottom: 60px;
    margin-bottom: 6rem;
    
}

.about-us {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* font-size: 40px; */
    /* font-weight: 700; */
    justify-content: center;
}

.about-header{
    color: #F0F0F0;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.heading-academic {
    font-size: 40px;
    font-weight: 600;
    color: #265999;
}

.purpose {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px;

    color: #F0F0F0;
    font-family: "Helvetica Neue";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.purpose-bolded {
    color: #EEB50C;
    font-weight: 700;
}

.pillars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 7.34rem;
    margin-right: 7.34rem;  
    gap: 4rem;  
}

.pillar {
    display: flex; 
    flex-direction: column;
    align-items: center;

    width: 23.9375rem;
    height: auto;
    padding: 3.6875rem 0.5rem;

    gap: 2.5rem;

    border-radius: 1rem;
    background: #667BC4;
}

.pillar-icon {
    width: 9.375rem;
    height: 9.375rem;
}

.pillar-text {
    color: #FFF;
    text-align: center;
    font-family: Hard;
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
}


.stats-bar {
    display: flex;
    width: 76.375rem;
    height: 12.125rem;
    padding: 2.4375rem 6.8125rem;
    justify-content: center;
    align-items: center;
    gap: 9.5rem;
    flex-shrink: 0;
    border-radius: 2.25rem;
    background: #667BC4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--URMC-Gray, #37383C);
}

.stats-header {
    /* font-size: 25px;
    font-weight: 600; */

    color: #F0F0F0;
    text-align: center;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 600;
}

.stats-number {
    color: #F0F0F0;
    text-align: center;
    font-family: Hard;
    font-size: 2.8125rem;
    font-weight: 700;
}

.stats-block.bottom {
    font-size: 30px;
    font-weight: bold;
}




.pillar-sections {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 100px;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    /* margin-left: 5.84rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.pillar-section {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.section-images{
    display: flex;
    flex-direction: column;
}



.section-content{
    display: flex;
    flex-direction: column;
}

.section-title {
    color: #EEB50C;
    font-family: Montserrat;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.section-text{
    color: #FFF;
    font-family: Medium;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.academic-images{
    display: flex;
    flex-direction: column;
    gap: 2.69rem;
}

#academic-1{
    width: 34.1875rem;
    height: 20.5625rem;
    flex-shrink: 0;
}

#academic-2{
    margin-left: 4.12rem;
    width: 32.25rem;
    height: 21.5625rem;
}

.community-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    /* padding: 20px; */
}

.profdev-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 3.5rem;
    grid-template-areas: 
        "image1 image3"
        "image2 image3";
}

#profdev-1{
    grid-area: image1;
    width: 23.14094rem;
    height: 17.35569rem;
    flex-shrink: 0;
}

#profdev-2{
    grid-area: image2;
    width: 24.04019rem;
    height: 18.03013rem;
    flex-shrink: 0;
    flex-shrink: 0;
}

#profdev-3{
    grid-area: image3;
    width: 22.51144rem;
    height: 15.01763rem;
    flex-shrink: 0;
    margin: auto;
}

.join-section{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

#join-header{
    color: #EEB50C;
    font-family: Hard;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 5rem;
    margin: 0;
}

#join-button{
    display: flex;
    height: 4.3125rem;
    padding: 0.25rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 4rem;
    background: var(--urmc-gold-gradient, linear-gradient(108deg, #DFC856 19.51%, #D38745 71.52%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0;
}

#join-text {
    color: var(--URMC-White, #F9F9F9);
    text-align: center;
    font-family: Hard;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.section-cards {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.section-widgets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(2, auto);
}

.widget-row {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-grow: 1;
}



@media (max-width: 768px) {

    .pillar-title {
        font-size: 30px;
    }
    .stats {
        display: none;
    }

    .about-us-page {
        gap: 20px;
    }

    .pillar-support {
        align-items: center;
    }

    .pillars {
        display: none;
    }

    .purpose {
        font-size: 15px;
    }

    .pillar-cards {
        flex-direction: column;
        gap: 20px;
    }

    .widget-row {
        flex-direction: column;
        gap: 20px;
    }
}