* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.about-us {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.purpose {
    width: 80%;
    margin-top: 20px;
    font-size: 25px;
    color: #37383C;
    font-weight: 500;
}

.pillars {
    display: flex;
    flex-wrap: wrap; /* allow images to wrap to next row */
    justify-content: center; /* center images horizontally */
    align-items: center; /* center images vertically */
    max-width: 100%; /* ensure container doesn't exceed parent width */
    position: relative; /* enable absolute positioning for child elements */

    margin-left: 50px;
    margin-right: 50px;
}

.pillar {
    width: 400px; /* set width to 100% to cover the container */
    height: auto; /* maintain aspect ratio */
    position: relative;
    /* height: 20px; */
}

.stats {
    background: #D6E7B4;
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 36px;
    margin-top: 50px;
}

.stats-block {
    text-align: center;
    font-size: 13px;
}

.stats-block.bottom {
    font-size: 30px;
    font-weight: bold;
}

.academic-support {
    margin-left: 10%;
}

@media (max-width: 768px) {
    .pillars {
        display: none;
    }

    .stats {
        display: none;
    }
    

}