* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.foot {
    background: #FBDCB1;
    color: #000000;
    display: flex;
    justify-content: space-between;
    font-family: "Medium";
    font-size: 12px;
    gap: 2rem;
    padding: 0 3rem;
    width: 100%;
}

.nav {
    color: #37383C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav li.active {
    color: #B95F37;
    background-color: #FBDCB1;
    /* padding: 0 0.25rem; */
    border-radius: 11px;
}

.nav li:hover {
    color: #B95F37;
}

.nav-menu {
    padding: 0 0.25rem;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    font-family: "Medium";
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.menu-icon {
    display: none;
}

.site-title {
    font-size: 5rem;
    width: 112px;
    height: 49px;
}

.foot ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.foot a {
    color: inherit;
    font-family: "Medium";
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.socials {
    width: auto;
    height: auto;
    object-fit: fill;
}

@media (max-width: 768px) {
    .nav {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 1000%;
        position: absolute;
        top: 0px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background-color: #FFF3E2;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .socials {
        width: 20px;
        height: 20px;
        object-fit: fill;
    }

    .footer-title {
        font-size: 10px;
    }


  }