.carousel-item {
    display: inline-flex;
}

body {
    margin: 0;
}

.carousel {
    overflow: hidden;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: green;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    /* box-shadow: 0 5px 15 px rgba(0,0,0,0.05); */
}

.carousel-item {
    /* display:inline-flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 300px; */
    background-color: pink;
}

.carousel-img {
    /* width: 250px; */
    /* padding: 0 20px 0 20px; */

}

.carousel-bottom-bar {
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    background-color:#BFDEFF;
}

.button-arrow {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .carousel {
        width:80%;
        height: 50%;
    }
    
    .carousel img {
        width: 20%
    }

}