* {
    box-sizing: border-box;
}

.home {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.header {
    font-family: "Hard";
    font-size: 75px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.header.bottom {
    margin-top: 0;
}

.sub-header {
    color: #37383C;
    text-align: center;
}

.heart {
    width: 11px;
    height: 11px;
}

.btn {
    margin: 10px;
    display: flex;
    padding: 20px 40px 20px 40px;
    font-weight: bold;
    background-size: 200% auto;
    font-size: 20px;
    color: white;
    box-shadow: 0 0 20px #eee;
    text-decoration: none;
    border-radius: 64px;
}

.btn-1 {
    background-image: linear-gradient(to right, #5F8DBF 0%, #79baff 50%);
}

.btn-2 {
    background-image: linear-gradient(to right, #F18F02 0%, #FFB244 50%);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-1:hover {
    background-image: linear-gradient(to right, #4b6f96 0%, #6096d0 50%);
}

.btn-2:hover {
    background-image: linear-gradient(to right, #b16802 0%, #d8963a 50%);
}

.blue_ellipse {
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-width: 100%;
    max-height: 80%;
}

.yellow_ellipse {
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-width: 100%;
    max-height: 80%;
}

.group {
    position: relative;
    margin-bottom: 0;
    width: 98%;
}

.images {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: auto;
}

@media (max-width: 768px) {

    .home-content {
        position: absolute;
    }

    .header {
        font-size: 20px;
    }

    .buttons {
        align-items: center;
        flex-direction: column;
    }

    .btn {
        font-size: 16px;
    }

    .sub-header {
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .images {
        margin-top: auto;
    }
}