
.leadership {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fall22 {
    display:flex;
    justify-content: center;
    color: #37383C;
    font-size: 25px;
}
/* 
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    overflow: auto;
    max-width: 100%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;

  }
  
  .grid-item {
    display: flex;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }


@media (max-width: 767px) { /* adjust the breakpoint as needed */
    .grid-container {
      grid-template-columns: repeat(1, 1fr); /* switch to 2 columns on small screens */
      width: 200;
      height: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .grid-item {
      width: auto; /* set a minimum width for the cards */
    }
  }